SHIPROCKET_EMAIL=LEGASUS.CO@gmail.com
SHIPROCKET_PASSWORD=!L2WF6^#l04nMvB1zc3jz4xiJNmv@FxK
SHIPROCKET_PICKUP_LOCATION=Warehouse
SHIPROCKET_PICKUP_POSTCODE=110044
SHIPROCKET_DEFAULT_WEIGHT=0.5
SHIPROCKET_DEFAULT_LENGTH=10
SHIPROCKET_DEFAULT_BREADTH=10
SHIPROCKET_DEFAULT_HEIGHT=5
SHIPROCKET_WEBHOOK_TOKEN=legasus_secret_123
RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret
RAZORPAY_BRAND_NAME=Legasus Store
RAZORPAY_BRAND_DESCRIPTION=Secure checkout powered by Razorpay
RAZORPAY_BRAND_LOGO=
